{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "always",
	"semi": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"printWidth": 80,
	"useTabs": false,

	"plugins": ["prettier-plugin-organize-imports"]
}
