.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #696969 #ffffff;
}

.EmojiPickerReact {
	--epr-bg-color: theme('colors.primary') !important;
	--epr-category-label-bg-color: theme('colors.secondary') !important;
}

.message-image-hover-effect:hover img {
	/* transform: scale(1.025); */
	opacity: 0.9;
	transition: all 0.1s ease;
}
